.profile-div,
.about,
.skills,
.education {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-mainContainer {
  background-color: #eeedeb;
}

.nav-bar {
  background-color: #e6b9a6;
}

.btn-about,
.button {
  display: inline-block;
  width: 28%;
  padding: 10px;
  background-color: #006769;
  color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 40px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button {
  width: 25%;
  text-align: center;
  padding: 1px;
}

.btn-about:hover,
.button:hover {
  background-color: #004e54;
}

img {
  width: 32vw;
  height: 65vh;
  border-radius: 50%;
  border: 5px groove grey;
  margin: 10vh;
  object-fit: cover;
}

.content-div {
  width: 40%;
}

.skills-logo {
  width: 10%;
  height: 15vh;
  border: 2px solid rgb(27, 25, 25);
  padding: 5px;
  margin: 5px;
  background-color: #006769;
  object-fit: contain;
}

.profilePic,
.graduationLogo {
  width: 450px;
  height: 450px;
  border: 2px groove aqua;
  filter: drop-shadow(20px -15px 20px rgb(90, 12, 12));
}

.profilePic:hover,
.graduationLogo:hover {
  filter: drop-shadow(20px -15px 20px rgb(116, 109, 109));
  cursor: pointer;
}

form {
  background-color: black;
  padding: 1%;
  margin: 1vh;
}

form div {
  margin: 10px;
}

form input {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#skills,
#contact {
  padding: 10vh;
}

#skills {
  margin-bottom: 8vh;
}

.footer {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .profile-div,
  .about,
  .skills,
  .education {
    flex-direction: column;
    align-items: center;
  }

  .btn-about,
  .button {
    width: 70%;
    font-size: 16px;
  }

  img {
    width: 80%;
    height: auto;
    margin: 5vh 0;
  }

  .content-div {
    width: 80%;
  }

  .skills-logo {
    width: 30%;
    height: auto;
    margin: 10px;
  }

  .profilePic,
  .graduationLogo {
    width: 80%;
    height: auto;
  }

  form input {
    width: 100%;
  }

  #skills,
  #contact {
    padding: 5vh;
  }
}
